/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
/*--------------------*/
@font-face {
  font-family: 'StolzlRegular';
  src: url('../fonts/StolzlRegular.eot');
  src: url('../fonts/StolzlRegular.eot') format('embedded-opentype'), url('../fonts/StolzlRegular.woff2') format('woff2'), url('../fonts/StolzlRegular.woff') format('woff'), url('../fonts/StolzlRegular.ttf') format('truetype'), url('../fonts/StolzlRegular.svg#StolzlRegular') format('svg');
}
@font-face {
  font-family: 'Stolzl-Light';
  src: url('../fonts/Stolzl-Light.eot');
  src: url('../fonts/Stolzl-Light.eot') format('embedded-opentype'), url('../fonts/Stolzl-Light.woff') format('woff'), url('../fonts/Stolzl-Light.ttf') format('truetype'), url('../fonts/Stolzl-Light.svg#Stolzl-Light') format('svg');
}
@font-face {
  font-family: 'GothamPro';
  src: url('../fonts/GothamPro.eot');
  src: url('../fonts/GothamPro.eot') format('embedded-opentype'), url('../fonts/GothamPro.woff2') format('woff2'), url('../fonts/GothamPro.woff') format('woff'), url('../fonts/GothamPro.ttf') format('truetype'), url('../fonts/GothamPro.svg#GothamPro') format('svg');
}
body {
  background-color: #4C1DD2;
  font-family: 'StolzlRegular', sans-serif;
  color: #fff;
}
.container {
  margin: 0 auto;
  max-width: 1200px;
}
.vector1 {
  position: absolute;
  z-index: -1;
  width: 0px;
  height: 100%;
  left: 25%;
  top: -1px;
  border: 1px solid #5B2AED;
}
.vector2 {
  position: absolute;
  z-index: -1;
  width: 0px;
  height: 100%;
  left: 48%;
  top: -1px;
  border: 1px solid #5B2AED;
}
.vector3 {
  position: absolute;
  z-index: -1;
  width: 0px;
  height: 100%;
  left: 73%;
  top: -1px;
  border: 1px solid #5B2AED;
}
.cross1 {
  background: white;
  height: 9px;
  width: 1px;
  position: relative;
  left: 54%;
  top: 48%;
}
.cross1:after {
  content: "";
  height: 1px;
  width: 9px;
  background: white;
  position: absolute;
  left: -4px;
  top: 4px;
}
.cross2 {
  background: white;
  height: 9px;
  width: 1px;
  position: relative;
  left: 10%;
  top: 75%;
}
.cross2:after {
  content: "";
  height: 1px;
  width: 9px;
  background: white;
  position: absolute;
  left: -4px;
  top: 4px;
}
.cross3 {
  background: white;
  height: 14px;
  width: 2px;
  position: relative;
  left: 5%;
  top: 10%;
}
.cross3:after {
  content: "";
  height: 2px;
  width: 14px;
  background: white;
  position: absolute;
  left: -6px;
  top: 6px;
}
.ring {
  display: inline-block;
  position: absolute;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid white;
  left: 51%;
  top: 30%;
}
.bubble1 {
  position: absolute;
  width: 510px;
  height: 510px;
  left: -110px;
  top: 17%;
  background-image: url(../img/bubble.svg);
  filter: blur(100px);
  z-index: -1;
}
.bubble2 {
  position: absolute;
  width: 464px;
  height: 464px;
  left: 52%;
  top: 20%;
  background-image: url(../img/bubble.svg);
  filter: blur(100px);
  z-index: -1;
}
.bubble1 {
  position: absolute;
  width: 510px;
  height: 510px;
  left: 95%;
  top: -324px;
  background-image: url(../img/bubble.svg);
  filter: blur(100px);
  z-index: -1;
}
.header {
  margin: 0 auto;
  /* width: 1200px; */
  margin-top: 50px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}
.logo {
  position: absolute;
  margin-left: -61px;
  margin-top: 10px;
}
.menu a {
  margin: 10px 20px 10px 15px;
  font-family: 'StolzlRegular', sans-serif;
  color: #fff;
  font-size: 16px;
  display: inline-block;
}
.telephone {
  display: inline-flex;
  align-items: center;
}
.telephone__namber {
  font-family: 'Stolzl-Light', sans-serif;
  font-weight: 100;
  font-size: 18px;
  color: white;
  margin-left: 15px;
  white-space: nowrap;
}
.telephone__ws {
  margin-left: 43px;
  background-color: #4F15F3;
  border-radius: 9px;
  width: 177px;
  height: 48px;
  font-family: 'GothamPro', sans-serif;
  color: #fff;
  font-size: 17px;
  font-weight: 400;
  text-align: center;
  display: inline;
  /* align-items: center; */
}
.telephone__ws p {
  display: inline;
  margin: 16px;
}
.telephone__ws img {
  margin-left: 25px;
}
.content {
  margin: 0 auto;
  /* padding: 0 15px;     */
  padding-left: 15px;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.title {
  margin-bottom: 50px;
}
.title h1 {
  max-width: 640px;
  margin-top: 240px;
  font-size: 48px;
  line-height: 150%;
}
.title span,
.title p {
  font-family: 'Stolzl-Light', sans-serif;
  font-weight: 100;
}
.title p {
  font-size: 24px;
  line-height: 150%;
  margin-top: 23px;
}
.feedback {
  position: absolute;
}
.feedback input {
  margin-top: 48px;
  margin-right: 21px;
  height: 56px;
  width: 284px;
  border-radius: 12px;
  padding: 19px 15px;
}
.feedback input::placeholder {
  color: #BCBCBC;
  font-size: 18px;
}
.feedback button {
  margin-top: 20px;
  width: 335px;
  height: 56px;
  background: #F86161;
  border-radius: 12px;
  font-size: 18px;
  color: white;
}
img {
  vertical-align: sub;
}
.baner {
  display: flex;
  position: relative;
  width: 527px;
  height: 680px;
  margin-top: 64px;
  margin-left: 15px;
}
.baner span {
  font-size: 22px;
}
.baner p {
  font-size: 12px;
  line-height: 150%;
  margin-top: 6px;
}
.girl {
  z-index: 1;
  margin-left: 15px;
  /* width: 527px; */
  /* height: 680px; */
}
.triangle {
  position: absolute;
  z-index: 3;
  margin-top: 430px;
  margin-left: 35px;
  border: 70px solid transparent;
  border-bottom: 120px solid #FFD02C;
  border-left: 70px solid transparent;
  filter: blur(10px);
  transform: rotate(330deg);
}
.square {
  position: absolute;
  width: 445px;
  height: 598px;
  background: #F86161;
  border-radius: 59px;
  right: 0;
  bottom: 0;
}
.dot {
  position: absolute;
  margin-top: 52px;
  margin-left: 468px;
}
.baner__clients {
  position: absolute;
  z-index: 2;
  width: 159px;
  height: 186px;
  background: #121B30;
  border-radius: 21px;
  margin-top: 44px;
  text-align: center;
  padding-top: 26px;
}
.img__circle {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background: #F6F4FC;
  padding: 15px;
}
.clients {
  margin-left: 54px;
  margin-bottom: 13px;
}
.sales {
  margin-left: 20px;
  margin-right: 14px;
}
.profit {
  margin: 22px 12px 38px 23px;
  position: relative;
  display: inline-flex;
  align-items: center;
  /* flex-direction: row; */
}
.baner__sales {
  position: absolute;
  z-index: 2;
  width: 288px;
  height: 99px;
  background: #121B30;
  border-radius: 21px;
  margin-left: 390px;
  margin-top: 300px;
  align-items: center;
  display: inline-flex;
}
.baner__profit {
  position: absolute;
  z-index: 2;
  width: 326px;
  height: 301px;
  background: white;
  border-radius: 15px;
  margin-top: 475px;
  margin-left: 265px;
}
.baner__profit p {
  font-family: 'GothamPro', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 124.2%;
  color: #121B30;
  white-space: nowrap;
  margin-left: 33px;
}
.table {
  display: flex;
}
table {
  margin-left: 10px;
  width: 238px;
  height: 164px;
  border: 1px solid #E6EBF0;
  border-collapse: collapse;
  margin-bottom: 100px;
}
tr,
th {
  border: 1px solid #E6EBF0;
}
.table__column p {
  font-family: 'GothamPro', sans-serif;
  font-size: 9px;
  color: #878E9C;
  margin-bottom: 34px;
  margin-left: 23px;
  margin-top: -5px;
}
.curve {
  position: absolute;
  margin-left: 49px;
  margin-top: 10.9px;
}
@media (max-width: 1199px) and (min-width: 991px) {
  .logo {
    position: absolute;
    left: 80%;
    top: 10%;
  }
  .content {
    max-width: 990px;
  }
}
@media (max-width: 990px) and (min-width: 768px) {
  .logo {
    position: absolute;
    left: 80%;
    top: 10%;
  }
  .content {
    max-width: 767px;
  }
}
@media (max-width: 767px) {
  .feedback {
    position: relative;
  }
  .baner__profit {
    margin-left: 200px;
  }
  .baner__sales {
    margin-left: 40%;
  }
  .logo {
    position: relative;
    left: 90%;
    top: 5%;
  }
  .content {
    max-width: 766px;
  }
}
@media (max-width: 375px) {
  .content {
    max-width: 375px;
  }
  .baner {
    display: flex;
    position: relative;
    width: 450px;
    height: 680px;
    margin-top: 0px;
  }
  .dot {
    position: absolute;
    margin-left: 270px;
  }
  .baner__profit {
    margin-left: 55px;
    margin-top: 550px;
  }
  .triangle {
    margin-left: -15px;
    z-index: 1;
  }
  .girl {
    margin-left: -15px;
    width: 350px;
  }
  .square {
    position: absolute;
    width: 350px;
    height: 598px;
  }
  .baner__clients {
    margin-top: 0px;
    margin-left: -15px;
    width: 150px;
    height: 186px;
  }
  .baner__sales {
    width: 188px;
    margin-left: 190px;
    margin-top: 300px;
  }
}
